<!-- Pokemon table: Create a twig for your Pokémon table
Should accept the Pokedex table as a parameter
You will need the fetch_all method on the sql result object -->

<table border="{{border}}">
    <thead>
        <tr>
            <th>Issue #</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
            {# <td><a href="card.php?pokemon_id={{ poke[ "id" ] }}">{{poke["id"]}}</a></td> #}
            <td>{{item["issueId"]}}</td>
            <td>{{item["name"]}}</td>
            {# <td>{{item["issueId"]}} #}
            <td><img src="res/ships/{{item["issueId"]}}.jpg" alt="{{item["issueId"]}}"></td>
            {# {% for item in poke %}
                <td>{{ item }}</td>
            {% endfor %} #}
        </tr>
        {% endfor %}
    </tbody>
</table>