<!-- Pokemon table: Create a twig for your Pokémon table
Should accept the Pokedex table as a parameter
You will need the fetch_all method on the sql result object -->

<section class="grid-container">
        {% for item in items %}
        <div>
            {# <td><a href="card.php?pokemon_id={{ poke[ "id" ] }}">{{poke["id"]}}</a></td> #}
            <div>{{item["issueId"]}}</div>
            <div>{{item["name"]}}</div>
            {# <td>{{item["issueId"]}} #}
            <div><img src="res/ships/{{item["issueId"]}}.jpg" alt="{{item["issueId"]}}"></div>
            {# {% for item in poke %}
                <td>{{ item }}</td>
            {% endfor %} #}
        </div>
        {% endfor %}
</section>